<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" routerLink="/electronics">Electronic</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#" routerLink="/jewelery">Jewelery</a>
            </li>
            
          </ul>
      <i class="fa-solid fa-cart-shopping" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i>
      

      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          ...
        </div>
      </div>
    </div>
  </nav>